@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.mathi_div {
    display: flex;
    width: 100%;
    height: 95vh;
}

/* table start */
* table {
    width: 100%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    /* margin-top: 20px; */
    background: white;
    color: black;
}
* table thead {
    position: sticky;
    top: 50px;
    background: #181818;
    color: white;
}
* table tr {
    border-bottom: 1px solid #ddd;
}
* table td,
* table th {
    padding: 10px;
}
/* table end */

/* Landing start */
.landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #fff;
}
.landing button {
    margin: 10px;
    background: #0099ff;
    color: #000000;
    border: 2px solid #000000;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 300ms linear;
    outline: none;
    border-radius: 10px;
}
.landing button:hover {
    background: #27e48f;
    /* border: 2px solid #1a71ab; */
    color: #000000;
    transform: scale(1.1);
}
/* Landing  end */

/* Sidenav start */
.sidenav {
    background-color: #111;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.sidenav .buttonHolder {
    flex: 0 0 100%;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 10px 0;
}
.sidenav .buttonHolder button {
    outline: none;
    border: 2px solid #adadad;
    background-color: #0099ff;
    color: #000000;
    padding: 10px;
    width: 90%;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: 100ms linear;
}
.sidenav .buttonHolder button:hover {
    transform: scale(1.05);
    background-color: #27e48f;
    color: #111;
}
.sidenav .stopMonitoring button {
    background-color: #ff0000;
    color: #000000;
}
.sidenav .stopMonitoring button:hover {
    background-color: #e23939;
    color: #000000;
}
/* Sidenav end */

/* Loading start */
.loading {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
/* Loading end */

/* Traffic start */
.traffic {
    background: #ccc;
    width: 100%;
    height: 100%;
    color: white;
    overflow: scroll;
}
.traffic button {
    background: #0099ff;
    color: #000000;
    /* border: 2px solid #fff; */
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* box-shadow: 5px 5px 5px #eee; */
    text-shadow: none;
    /* padding: 10px; */
    transition: 400ms ease;
    /* font-size: 10px; */
    cursor: pointer;
}
.traffic button:hover {
    background: #002944;
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px #eee; */
    /* text-shadow: none; */
}
/* Traffic end */

/* titleHolder start */
.titleHolder {
    position: sticky;
    top: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to right, #111, rgb(56, 56, 56));
    color: #ffffff;
}
/* titleHolder end */

/* Show More start */
.showMore {
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: #eeeeee;
}
.showMore .contentHolder {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.showMore .contentHolder div {
    flex: 0 0 21%;
    margin: 10px 5px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background: white;
    color: black;
    font-size: 20px;
    border: 1px solid #27e48f;
}
.showMore .contentHolder div:last-child {
    border: none;
}
.showMore .contentHolder button {
    background-color: #aa0000;
    padding: 5px;
    cursor: pointer;
    font-size: 30px;
    border: 2px solid #eee;
    color: #eee;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    transition: 200ms linear;
}
.showMore .contentHolder button:hover {
    background-color: #ff2525;
    color: #000000;
    border-color: #000000;
    transform: scale(1.2);
}
/* Show More end */

/* Form start */
.form {
    background-color: #eee;
    color: black;
    width: 100%;
    overflow: scroll;
}
.dataForm {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 20px;
}
.dataForm div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}
.dataForm div input {
    padding: 10px;
    margin: 5px 10px;
    flex: 0 0 10%;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #ffffff;
    outline: none;
    color: black;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    transition: 0.2s ease;
}
.dataForm div input:active,
.dataForm div input:focus,
.dataForm div input:hover {
    border-color: rgb(65, 65, 65);
    /* color: #fff; */
}
.dataForm div input::placeholder {
    color: rgb(49, 49, 49);
    font-weight: 200;
}
.csvForm {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.csvForm div {
    flex: 0 0 80%;
    display: flex;
    margin: 5px 10px;
    padding: 10px;
    align-items: center;
}
.csvForm div:last-child,
.csvForm div:first-child {
    justify-content: center;
}
.csvForm div input {
    background-color: transparent;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    color: #2cffa0;
    font-weight: 900;
}
.csvForm div input:active,
.csvForm div input:focus,
.csvForm div input:hover {
    border-color: #2cffa0;
}
.form-submit-button {
    background: #0099ff;
    color: #000000;
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
    padding: 10px;
    transition: 400ms ease;
    font-size: 20px;
    cursor: pointer;
}
.form-submit-button:hover {
    background: #002944;
    color: white;
    border: 1px solid #eee;
    border-radius: 20px;
    /* box-shadow: 5px 5px 5px #eee; */
    text-shadow: none;
}
.predictionMany {
    display: flex;
    flex-wrap: wrap;
}
.predictionMany .confusionData {
    display: flex;
    flex-wrap: wrap;
}
.predictionMany .confusionMatrix {
    display: flex;
    flex-wrap: wrap;
}
.predictionMany .confusionMatrix div {
    flex: 40%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 5px;
}
.predictionMany .confusionMatrix .tp,
.predictionMany .confusionMatrix .tn {
    background-color: rgba(0, 255, 0, 0.2);
}
.predictionMany .confusionMatrix .fp,
.predictionMany .confusionMatrix .fn {
    background-color: rgba(255, 0, 0, 0.2);
}
/* Form end */

.tala_div {
    position: fixed;
    bottom: 0;
    background: rgb(41, 41, 41);
    height: 5vh;
    width: 100vw;
    /* flex: 1; */
}

.material-symbols-outlined {
    color: white;
    font-size: 60px;
}

/* Logs start */
.logs {
    background-color: #ccc;
    color: #000;
    width: 100%;
    overflow: scroll;
}
.logs .attack {
    background-color: rgba(255, 0, 0, 0.2);
}
.logs .benign {
    background-color: rgba(0, 255, 0, 0.2);
}
/* .logs button {
    position: fixed;
    top: 5%;
    right: 5%;
} */
/* Logs end */

/* Scatter start */
.scatter {
    color: #fff;
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
/* Scatter end */

/* Alert begin */
.alert {
    height: 100px;
}
.alert div {
    height: 100%;
    width: 100%;
}
.alert .attack,
.alert .benign {
    padding: 15px;
    color: black;
    font-weight: 900;
    text-align: center;
}
/* Alert end */

.attack {
    background: rgb(255, 80, 80);
    color: #000;
}
.benign {
    background: rgb(152, 255, 152);
    color: #000;
}
